<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cpd.crashcourse">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <supports-screens
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/cc"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ScrollingActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AnatomyPage"
            android:label="@string/title_activity_anatomy_page"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".anatomyIntro"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_anatomy_intro"
            android:screenOrientation="sensorLandscape"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".astronomy"
            android:label="@string/title_activity_astronomy"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".BigHistory"
            android:label="@string/title_activity_big_history"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".BiologyPage"
            android:label="@string/title_activity_biology_page"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ChemPage"
            android:label="@string/title_activity_chem_page"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".EcoPage"
            android:label="@string/title_activity_eco_page"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".anatomy2"
            android:label="@string/title_activity_anatomy2"
            android:screenOrientation="sensorLandscape"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".anatomy3"
            android:label="@string/title_activity_anatomy3"
            android:screenOrientation="sensorLandscape"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".anatomy4"
            android:label="@string/title_activity_anatomy4"
            android:screenOrientation="sensorLandscape"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".anatomy5"
            android:label="anatomy5"
            android:screenOrientation="sensorLandscape"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".astronomy1"
            android:label="astronomy1"
            android:screenOrientation="sensorLandscape"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".astronomy2"
            android:label="astronomy2"
            android:screenOrientation="sensorLandscape"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".anatomy6"
            android:label="anatomy6"
            android:screenOrientation="sensorLandscape"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".anatomy7"
            android:label="anatomy6"
            android:screenOrientation="sensorLandscape"
            android:theme="@style/FullscreenTheme" />
        <activity android:name=".anatomy8" />
        <activity
            android:name=".intellectualproperty"
            android:label="@string/title_activity_intellectualproperty"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".gov"
            android:label="@string/title_activity_gov"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".econ"
            android:label="@string/title_activity_econ"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".psych"
            android:label="@string/title_activity_psych"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".us"
            android:label="@string/title_activity_us"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".sociology"
            android:label="@string/title_activity_sociology"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".compsci"
            android:label="@string/title_activity_compsci"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".film"
            android:label="@string/title_activity_film"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".anatomy9"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_anatomy9"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".Astronomy3"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_astronomy3"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".astronomy4"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_astronomy4"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".astronomy5"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_astronomy5"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".astronomy6"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_astronomy6"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".chemistry1"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_chemistry1"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".chemistry2"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_chemistry2"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".chemistry3"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_chemistry3"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".chemistry4"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_chemistry4"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".chemistry5"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_chemistry5"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".chemistry6"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_chemistry6"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".chemistry7"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_chemistry7"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".chemistry8"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_chemistry8"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".chemistry9"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_chemistry9"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".chemistry10"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_chemistry10"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".chemistry11"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_chemistry11"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".chemistry12"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_chemistry12"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".chemistry13"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_chemistry13"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".chemistry14"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_chemistry14"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".chemistry15"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_chemistry15"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".chemistry16"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_chemistry16"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".chemistry17"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_chemistry17"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".chemistry18"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_chemistry18"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".chemistry19"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_chemistry19"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".chemistry20"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_chemistry20"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".chemistry21"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_chemistry21"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".chemistry22"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_chemistry22"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".chemistry23"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_chemistry23"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".chemistry24"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_chemistry24"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".chemistry25"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_chemistry25"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".chemistry26"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_chemistry26"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".chemistry27"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_chemistry27"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".chemistry28"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_chemistry28"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".chemistry29"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_chemistry29"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".chemistry30"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_chemistry30"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".chemistry31"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_chemistry31"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".chemistry32"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_chemistry32"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".chemistry33"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_chemistry33"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".chemistry34"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_chemistry34"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".chemistry35"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_chemistry35"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".chemistry36"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_chemistry36"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".chemistry37"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_chemistry37"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".chemistry38"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_chemistry38"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".chemistry39"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_chemistry39"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".chemistry40"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_chemistry40"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".chemistry41"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_chemistry41"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".chemistry42"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_chemistry42"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".chemistry43"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_chemistry43"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".chemistry44"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_chemistry44"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".chemistry45"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_chemistry45"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".chemistry46"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_chemistry46"
            android:theme="@style/FullscreenTheme"></activity>
    </application>

</manifest>