<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cpd.crashcourse">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <supports-screens
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/cc"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ScrollingActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AnatomyPage"
            android:label="@string/title_activity_anatomy_page"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".anatomyIntro"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_anatomy_intro"
            android:screenOrientation="sensorLandscape"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".astronomy"
            android:label="@string/title_activity_astronomy"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".BigHistory"
            android:label="@string/title_activity_big_history"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".BiologyPage"
            android:label="@string/title_activity_biology_page"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ChemPage"
            android:label="@string/title_activity_chem_page"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".EcoPage"
            android:label="@string/title_activity_eco_page"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".anatomy2"
            android:label="@string/title_activity_anatomy2"
            android:screenOrientation="sensorLandscape"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".anatomy3"
            android:label="@string/title_activity_anatomy3"
            android:screenOrientation="sensorLandscape"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".anatomy4"
            android:label="@string/title_activity_anatomy4"
            android:screenOrientation="sensorLandscape"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".anatomy5"
            android:label="anatomy5"
            android:screenOrientation="sensorLandscape"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".astronomy1"
            android:label="astronomy1"
            android:screenOrientation="sensorLandscape"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".astronomy2"
            android:label="astronomy2"
            android:screenOrientation="sensorLandscape"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".anatomy6"
            android:label="anatomy6"
            android:screenOrientation="sensorLandscape"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".anatomy7"
            android:label="anatomy6"
            android:screenOrientation="sensorLandscape"
            android:theme="@style/FullscreenTheme" />
        <activity android:name=".anatomy8" />
        <activity
            android:name=".intellectualproperty"
            android:label="@string/title_activity_intellectualproperty"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".gov"
            android:label="@string/title_activity_gov"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".econ"
            android:label="@string/title_activity_econ"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".psych"
            android:label="@string/title_activity_psych"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".us"
            android:label="@string/title_activity_us"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".sociology"
            android:label="@string/title_activity_sociology"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".compsci"
            android:label="@string/title_activity_compsci"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".film"
            android:label="@string/title_activity_film"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".anatomy9"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_anatomy9"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".Astronomy3"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_astronomy3"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".astronomy4"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_astronomy4"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".astronomy5"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_astronomy5"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".astronomy6"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_astronomy6"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".astronomy7"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_astronomy7"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".astronomy8"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_astronomy8"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".astronomy9"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_astronomy9"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".astronomy10"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_astronomy10"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".astronomy11"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_astronomy11"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".astronomy12"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_astronomy12"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".astronomy13"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_astronomy13"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".astronomy14"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_astronomy14"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".astronomy15"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_astronomy15"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".astronomy16"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_astronomy16"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".astronomy17"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_astronomy17"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".astronomy18"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_astronomy18"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".astronomy19"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_astronomy19"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".astronomy20"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_astronomy20"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".astronomy21"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_astronomy21"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".astronomy22"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_astronomy22"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".astronomy23"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_astronomy23"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".astronomy24"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_astronomy24"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".astronomy25"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_astronomy25"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".astronomy26"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_astronomy26"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".astronomy27"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_astronomy27"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".astronomy28"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_astronomy28"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".astronomy29"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_astronomy29"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".astronomy30"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_astronomy30"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".astronomy31"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_astronomy31"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".astronomy32"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_astronomy32"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".astronomy33"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_astronomy33"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".astronomy34"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_astronomy34"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".astronomy35"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_astronomy35"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".astronomy36"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_astronomy36"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".astronomy37"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_astronomy37"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".astronomy38"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_astronomy38"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".astronomy39"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_astronomy39"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".astronomy40"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_astronomy40"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".astronomy41"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_astronomy41"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".astronomy42"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_astronomy42"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".astronomy43"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_astronomy43"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".astronomy44"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_astronomy44"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".astronomy45"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_astronomy45"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".astronomy46"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_astronomy46"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".econ1"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_econ1"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".econ2"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_econ2"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".econ3"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_econ3"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".econ4"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_econ4"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".econ5"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_econ5"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".econ6"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_econ6"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".econ7"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_econ7"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".econ8"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_econ8"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".econ9"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_econ9"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".econ10"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_econ10"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".econ11"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_econ11"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".econ12"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_econ12"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".econ13"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_econ13"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".econ14"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_econ14"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".econ15"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_econ15"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".econ16"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_econ16"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".econ17"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_econ17"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".econ18"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_econ18"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".econ19"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_econ19"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".econ20"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_econ20"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".econ21"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_econ21"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".econ22"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_econ22"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".econ23"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_econ23"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".econ24"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_econ24"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".econ25"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_econ25"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".econ26"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_econ26"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".econ27"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_econ27"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".econ28"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_econ28"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".econ29"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_econ29"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".econ30"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_econ30"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".econ31"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_econ31"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".econ32"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_econ32"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".econ33"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_econ33"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".econ34"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_econ34"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".econ35"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_econ35"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".film1"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_film1"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".film2"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_film2"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".film3"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_film3"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".film4"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_film4"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".film5"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_film5"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".film6"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_film6"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".film7"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_film7"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".film8"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_film8"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".film9"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_film9"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".film10"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_film10"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".film11"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_film11"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".film12"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_film12"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".film13"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_film13"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".film14"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_film14"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".film15"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_film15"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".film16"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_film16"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".film17"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_film17"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".gov1"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_gov1"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".gov2"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_gov2"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".gov3"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_gov3"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".gov4"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_gov4"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".gov5"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_gov5"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".gov6"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_gov6"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".gov7"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_gov7"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".gov8"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_gov8"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".gov9"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_gov9"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".gov10"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_gov10"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".gov11"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_gov11"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".gov12"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_gov12"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".gov13"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_gov13"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".gov14"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_gov14"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".gov15"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_gov15"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".gov16"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_gov16"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".gov17"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_gov17"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".gov18"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_gov18"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".gov19"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_gov19"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".gov20"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_gov20"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".gov21"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_gov21"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".gov22"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_gov22"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".gov23"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_gov23"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".gov24"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_gov24"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".gov25"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_gov25"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".gov26"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_gov26"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".gov27"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_gov27"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".gov28"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_gov28"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".gov29"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_gov29"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".gov30"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_gov30"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".gov31"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_gov31"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".gov32"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_gov32"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".gov33"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_gov33"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".gov34"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_gov34"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".gov35"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_gov35"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".gov36"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_gov36"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".gov37"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_gov37"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".gov38"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_gov38"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".gov39"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_gov39"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".gov40"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_gov40"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".gov41"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_gov41"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".gov42"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_gov42"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".gov43"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_gov43"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".gov44"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_gov44"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".gov45"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_gov45"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".gov46"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_gov46"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".gov47"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_gov47"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".gov48"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_gov48"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".gov49"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_gov49"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".gov50"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_gov50"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".sociology0"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_sociology0"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".sociology1"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_sociology1"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".sociology2"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_sociology2"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".sociology3"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_sociology3"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".sociology4"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_sociology4"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".sociology5"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_sociology5"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".sociology6"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_sociology6"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".sociology7"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_sociology7"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".sociology9"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_sociology9"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".sociology8"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_sociology8"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".sociology10"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_sociology10"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".sociology11"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_sociology11"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".sociology12"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_sociology12"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".sociology13"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_sociology13"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".sociology14"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_sociology14"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".sociology15"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_sociology15"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".sociology16"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_sociology16"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".sociology17"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_sociology17"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".sociology18"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_sociology18"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".sociology19"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_sociology19"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".sociology20"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_sociology20"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".sociology21"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_sociology21"
            android:theme="@style/FullscreenTheme"></activity>
    </application>

</manifest>